<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/appendWorker.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/page/main">Main Page</a>
    <a class="navbar-brand" href="/page/appendWorker">Append Worker</a>
    <a class="navbar-brand" href="/page/appendPosada">Append Posada</a>
    <a class="navbar-brand" href="/page/appendPidrozdil">Append Pidrozdil</a>
  </div>
</nav>
    
<div class="card border-success mb-3 center" style="max-width: 20rem;" id = 'body_info'>
    <div class="card-header">Information</div>
    <div class="card-body">
    <div class="form-group">Name<input type="text" class="form-control change" id="name"></div>
            <div class="form-group">Surname<input type="text" class="form-control change" id="surname"></div>
            <div class="form-group">Patronime<input type="text" class="form-control change" id="patronime"></div>
            <div class="form-group">Rank<input type="text" class="form-control change" id="rank"></div>
            <div class="form-group">Date<input type="text" class="form-control change" id="date"></div>
            <button type="button" class="btn btn-success" style="width: 100%; margin: 10px auto;" id="save">Save</button>
    </div>
</div>
<script src="/js/appendWorker.js"></script>
</body>
</html>