<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/page/main">Main Page</a>
    <a class="navbar-brand" href="/page/appendWorker">Append Worker</a>
    <a class="navbar-brand" href="/page/appendPosada">Append Posada</a>
    <a class="navbar-brand" href="/page/appendPidrozdil">Append Pidrozdil</a>
  </div>
</nav>



<table class="table table-hover size center">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Rank</th>
      <th scope="col">Option</th>
    </tr>
  </thead>
  <tbody id="tbody">

  </tbody>
</table>

</body>
<script src="/js/main.js"></script>
</html>